@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
    .custom-shadow-black {
        box-shadow: 20px 20px 40px 10px rgba(0, 0, 0, 0.2), -2px -2px 20px 0 rgba(0, 0, 0, 0.2);
    }
}